<html>
  <head>
    <!-- bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>

  <body>
    <a href="{% url 'blog:post_list' %}" class="btn btn-primary">HOMEへ戻る</a>
    <hr>
    <h1>記事</h1>

    <p>{{ article.title }}</p>
    <p>{{ article.text|linebreaksbr }}</p>


        {% if request.user.id == article.author.id %}
          <a href="{% url 'blog:edit_article' article.id %}" class="btn btn-primary">記事を編集</a>
        {% endif %}

    <hr>

    <div>
      <h3>コメント</h3>
      <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
      </form>
      <hr>
      {% for comment in comments %}
        loginuser: {{ comment.author }}<br>
        name: {{ comment.name }}<br>
        {{ comment.text }}<br>

        {% if request.user.id == article.author.id or request.user.id == comment.author.id %}
          <a href="{% url 'blog:delete_comment' article.id comment.id %}" class="btn btn-danger">コメント削除</a>
        {% endif %}

        <hr>
      {% endfor %}
    </div>

  </body>
</html>
