<html>
  <head>
    <!-- bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>

  <body>
      <div>
        <a href="{% url 'blog:post_list' %}" class="btn btn-primary">HOMEへ戻る</a>
        <hr>
          <h1>記事の作成</h1><br>

          <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
          </form>
      </div>
  </body>
</html>
